.home-page {
    .button-container {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem;

        button {
            border-radius: 50%;
            .label {
                display: none;
            }
            .acc-icon {
                display: block;
            }

            &:hover {
                -webkit-transition: width 0.3s ease-in-out;
                -moz-transition: width 0.3s ease-in-out;
                -o-transition: width 0.3s ease-in-out;
                transition: width 0.3s ease-in-out;
                border-radius: 5rem;
                width: 7rem;
                .label {
                    color: white;
                    display: block;
                }
                .acc-icon {
                    display: none;
                }
            }

            .icon {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    .welcome-message {
        text-align: center;
        color: #0f9d0f;
        font-weight:$fontweight-semibold;

    }

    .bike-image {
        height: 15rem;
        width: 100%;
        margin-top: 1rem;
        background-image: url("../../../public/icons/velobikes.jpg");
        background-size: cover;
        background-position: top;
    }

    .text-space {
        width: 100%;
        height: 4rem;
        padding: 0.5rem;
        color: white;
        background-color: $color-primary;
        align-items: center;
        justify-content: center;
        display: flex;

        p {
            text-align: center;
            margin: 0;

            @media only screen and (min-width: $break-point-large) {
                font-size: 20px;
            }
        }
    }

    .content-container {
        padding: 0.5rem;
        text-align: center;

        p {
            @media only screen and (min-width: $break-point-small) {
                padding: 0 1rem;
            }
        }

        .content {
            @media only screen and (min-width: $break-point-large) {
                margin: 3rem 0;
            }
        }
    }

    .info-markers {
        display: flex;
        justify-content: center;

        .station {
            padding: 0 0.5rem;
            min-height: 3.5rem;
            display: flex;
            align-items: center;

            img {
                height: 1.5rem;
            }

            p {
                text-align: left;
                padding-left: 5px;
                font-size: 10px;
                margin: 0;

                @media only screen and (min-width: $break-point-medium) {
                    font-size: 15px;
                }
            }
        }
    }
}