.log-out{
    .logout-button { 
        display: flex;
        justify-content: center;
    }
    .button {
        color: white;
        width: 7rem;
        border-radius: 5%;
        margin-top: 1rem;
    }
}