$color-primary: #CF0139;
$color-secondary: #f9b23e;
$font-primary: "Fira Sans", sans-serif;
$fontweight-normal: 400;
$fontweight-semibold: 600;
$fontweight-bold: 800;
$break-point-small: 500px;
$break-point-medium: 768px;
$break-point-large: 1024px;