.leaflet-container {
    margin: 10rem;
    height: 30rem;

    .leaflet-popup-content-wrapper {
        width: 12rem;
        height: 7rem;
    }
}

.orange-marker {
    background-image: url("../../../public/icons/station-orange.png");
}

.blue-marker {
    background-image: url("../../../public/icons/station-blue.png");
}

.red-marker {
    background-image: url("../../../public/icons/station-red.png");
}

.grey-marker {
    background-image: url("../../../public/icons/station-grey.png");
}